body {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to right, #f4d8a6, #907f64);
}

div.formulaire {
  background-color: #96d2cb;
  border-radius: 20px;
  font-size: 1.5rem;
  width: 50vw;
  height: auto;
  padding: 1rem;
}

table {
  width: 100%;
}

table td {
  text-align: left;
}

table label {
  margin-right: 10px;
  display: inline-block;
}

#divSports {
  padding: 4rem;
}

#notes {
  display: flex;
  flex-direction: column;
}

input[type="submit"],
input[type="reset"] {
  background-color: darkgray;
  width: 15rem;
  height: 4rem;
  margin: 2rem;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

a#retour {
  position: absolute;
  top: 0px;
  left: 0px;
}

a#retour img {
  width: 10rem;
}
